.jumbotron {
    color: lightcyan;
    width: 680px;
    align-self: auto;
}
body {
    background-image: url('../images/background.jpg')
}
#workarea {
    background-color: lightgrey;
    opacity: 40%;
}
#addGif, #removeGif {
    background-color: darkblue;
    border: solid 1px grey;
}