#aboutdesc {
    width: 650px;
    float: left;
}
#aboutimg {
    float: right;
}
#abouttitle {
    align-content: center;
    font-weight: bolder;
    font-size: 18px;
}
body {
    background-image: url("../../assets/images/background.gif");
    background-repeat: repeat;
    background-attachment: fixed;
}
nav {
    background-color: #708090;
    padding: 10%;
    border: solid darkblue 2px;
    color: whitesmoke;
}
#contact-form {
    background-color: darkgrey;
}